/* 
 * Overview
 *
 * - Body 
 * - Description 
 * - Logo 
 * - Nav 
 * - Data (Twitter Embeds)
 * - Footer
 */

.page {
    margin: 0;
    padding-top: 4rem;
    font: 1rem/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f6fefe;
}

.page__logo {
    margin: 0;
    display: flex;
    justify-content: center;
}

.page__description {
    text-align: center;
    margin: 0 2rem 0.5rem;
    color: #678974;
}

.page__nav {
    position: sticky;
    top: -1px;
    
    overflow: auto;
    text-align: center;
}

.page__data {
    margin: 0 0 3rem 0;
}

.page__footer {
    text-align: center;
    color: #616f6a;
}

.page__footer p {
    margin: 0 2rem 1.5rem;
}



/* 
 * Nav Styling
 */
.nav {
    display: inline-flex;
    padding: 0.5rem 0 1rem;
    background-color: rgba(250, 255, 250, 0.7);
    
    position: relative;
}

.nav::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
}

.nav__item {
    background: #efefef;
    padding: 0.2rem 1rem 0.1rem;
    border-radius: 0.3rem;
    text-decoration: none;
    color: #3a4d49;

    margin: 0 0.5rem;
}


/* 
 * Pad the Left & Right sides of the flex container
 */
.nav__item:first-child {
    margin-left: 1.5rem;
}

.nav__item:last-child {
    margin-right: 1.5rem;
}


.nav__item_pinkish-bg {
    background-color: #fee4e5;
}

.nav__item_greenish-bg {
    background-color: #cff9e3;
}

.nav__item_orangish-bg {
    background-color: #fdedd3;
}


.nav__item_active {
    background: none;
    border-bottom: 0.25rem solid #008753;
}



/* 
 * Twitter Embeds
 */
.entry {
    margin-bottom: 0.5rem;

    /* 
     * Manage spacing before & after anchor jump to
     * accomodate sticky nav.
     *
     * See: SO-10732690
     */
    padding-top: 3.5rem;
    margin-top: -2rem;
}

.entry__summary {
    line-height: 2;
    background-color: #f0f0f0;
    padding: 0.25rem 1rem;
    color: white;
    background-color: #678974;
}

.entry__details {
    display: flex;
    overflow: auto;
    margin: 1rem 0 1.5rem;
}


/* 
 * Pad the Left & Right sides of the flex container
 */

.entry__details:before,
.entry__details:after {
    content: '';
    flex: 0 0 1rem;
}


.twitter-tweet-cont {
    height: 375px;
    flex: 0 0 auto;
    border: 1px solid #efefef;
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 0 0.25rem 1.5rem;
    word-break: break-word;
    overflow: auto;
}


/* 
 * Embedded Tweets
 *
 * Default look before transformation by Twitter JS file 
 *
 */
 blockquote.twitter-tweet {
    width: 200px;
    padding-bottom: 1rem;
    margin: 0;
    color: #34423c;
}

blockquote.twitter-tweet a {
    color: #00492C;
    text-decoration: none;
}

blockquote.twitter-tweet > a:last-child {
    color: #008753;
    font-weight: bold;
    text-decoration: underline;
}



/* Other Components */
.movement-period {
    font-size: 0.75rem;
}

.protest-img {
    display: flex;
}

.protest-img__item {
    width: 25%;
}

.love {
    color: #008753;
}

.link_1 {
    color: #008753;
    text-decoration: none;
}

.link_2 {
    text-decoration: none;
    color: #00492C;
}

.img-credits {
    margin: 0.5rem auto 2rem;
    font-size: 0.875rem;
}